body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
}

header {
    background: linear-gradient(45deg, #6b4226, #000);
    padding: 50px 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 2.8em;
    margin-bottom: 10px;
}

p {
    font-size: 1.3em;
    line-height: 1.6;
}

main {
    padding: 30px;
}

section {
    background: rgba(255, 255, 255, 0.1);
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 850px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

footer {
    background: #000;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
